@{
    ViewBag.Title = "Запись на мероприятия";
}
<div>
    <h3>Список мероприятий</h3>
    <table class="table table-bordered " >
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><p>Название мероприятия</p></th>
                <th scope="col"><p>Дата и время начала</p></th>
                <th scope="col"><p>Дата и время окончания</p></th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach(var b in ViewBag.Events)
        {
        <tbody>
            <tr>
                <th scope="row"><p>@b.Event_Id</p></th> 
                <td><p>@b.EventName</p></td>
                <td><p>@b.StartDate</p></td>
                <td><p>@b.EndDate</p></td>
                <td><p><a href="/Home/Registration?Event_Id=@b.Event_Id"> Регистрация </a></p></td>
            </tr>
        </tbody>
        }
    </table>
</div>