
@{
    ViewBag.Title = "Регистрация";
}

<h3>Регистрация</h3>
<form method="post">
    <input type="hidden" value="@ViewBag.IdEvent" name="Event_Id" />
    <table>
        <tr>
            <td><p>Введите свое имя</p></td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td><p>Введите Фамилию</p></td>
            <td><input type="text" name="SurName" /></td>
        </tr>
        <tr>
            <td><p>Введите Отчество</p></td>
            <td><input type="text" name="LastName" /></td>
        </tr>
        <tr>
            <td><p>Введите место рождения</p></td>
            <td><input type="text" name="DateBors" /></td>
        </tr>
        <tr>
            <td><p>Введите страну проживания</p></td>
            <td><input type="text" name="Country" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /></td>
        </tr>
    </table>
</form>